{% extends 'product/base.html' %}

{% block title %} Customer {% endblock %}

{% block body %}

	<div>
		
		<div class="home_title">
			<p> <span class="glyphicon glyphicon-th-large">  </span> Customers list </p>
		</div>
		{% if all_customer  %}
			
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>Full name</th>
								<th>Phone number </th>
								<th>Email</th>
								<th>Province</th>
								<th>Address</th>
								<th>Invoices</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for icustomer in all_customer %}
								<tr>
									<td><p> {{ icustomer.full_name }} </p></td>
									<td><p> {{ icustomer.phone_number }} </p></td>
									<td><p> {{ icustomer.email }} </p></td>
									<td><p> {{ icustomer.province }} </p></td>
									<td><p> {{ icustomer.address }} </p></td>
									<td>
										{% if icustomer.sale_invoice_customer.all.count > 0 %}
											<p> {{ icustomer.sale_invoice_customer.all.count }} </p>
										{% else %}	
											<p> 0 </p>
										{% endif %}
										
									</td>
									<td>
										{% if icustomer.sale_invoice_customer.all.count > 0 %}
											<p> 
												<a href="{% url 'customer:customer_detail' icustomer.full_name %}" class=""> <span class="glyphicon glyphicon-link"> Detail </span> </a> 
											</p>
										{% endif %}
									</td>
									
								</tr>
							{% endfor %}
						</tbody>
					</table>
					
				</div>
				
			</div>

			<div style="margin-bottom: 20px;">
				<a href = "#" type="button" class="btn btn-primary">Preview</a>
			</div>
		{% else %}
			<div>
				<p>No customers</p>
			</div>
		{% endif %}

	</div>



	<div class="pagination_index">
		{% if is_paginated %}
				<ul class="pagination" style="margin:0px 0px !important">
			{% if page_obj.has_previous %}
			    <li>
			        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
			    </li>
			{% endif %}
			    <li class="">
			        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
			    </li>
			{% if page_obj.has_next %}
			    <li>
			        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
			    </li>
			{% endif %}
			</ul>
		
		{% endif %}
	</div>

{% endblock %}
