{% extends 'product/base.html' %}

{% block title %} Invoices detail {% endblock %}

{% block body %}
	

	<div>
		
		<div class="home_title">
			<p> <span class="glyphicon glyphicon-th-large">  </span> More about invoice "{{ invoice_no }}"  </p>
		</div>

		<div style="border:1px solid #f1f1f1; padding:10px 10px;">
			
			<div class="row">
				<div class="col-md-5">
					<div style="width: 40%; margin-left: auto; margin-right: auto; text-align: center;">
						<h4> RTMK  </h4>
						<p>Free product marketing</p>
					</div>
				</div>
				<div class="col-md-6" style="float:right; text-align: left;">
					<div style="width: 40%; margin-left: auto; margin-right: auto;">
						{% if invoice_no %}
							<h4> Invoice: {{ invoice_no }} </h4>
							<h5> Cient name: {{ full_name }} </h5>
							<h5> Client contact: {{ phone_number }} </h5>
							<h5> Client address: {{ address }} </h5>
						{% endif %}
					</div>
				</div>
			</div>
			
			{% if list_invoices %}
				<table class="table">
					<thead>
						<tr>
							<th style="background-color: #337ab7; color: #ffffff;"><p style="padding-top: 10px;font-size: 12pt;">Code</p></th>
							<th style="background-color: #337ab7; color: #ffffff;"><p style="padding-top: 10px;font-size: 12pt;">Item</p></th>
							<th style="background-color: #337ab7; color: #ffffff;"><p style="padding-top: 10px;font-size: 12pt;">Quantity</p></th>
							<th style="background-color: #337ab7; color: #ffffff;"><p style="padding-top: 10px;font-size: 12pt;">Price</p></th>
							<th style="background-color: #337ab7; text-align: right; padding-right: 20px; color: #ffffff;padding-top: 10px;font-size: 12pt;"><p style="padding-top: 10px;font-size: 12pt;">Subtotal</p></th>
						</tr>
					</thead>
					<tbody>
					
						{% for i in list_invoices %}
							<tr>
								<td style="border:none !important;"> <p> {{ i.product.product_number }} </p> </td>
								<td style="border:none !important;"> <img src = "../../../../../../../../../{{ i.product.default_image.url }}" class="img-responsive" style="width: 50px; height: 50px;"> <p> {{ i.product }} </p> </td>
								<td style="border:none !important;"> <p> {{ i.unit }} </p> </td>
								<td style="border:none !important;"> 
									{% if i.unit_price > 0 %}
										<p> ${{ i.unit_price |floatformat:2 }} </p>
									{% else %}
										<p> ${{ i.product.price |floatformat:2 }} </p>
									{% endif %}
								</td>
								<td style="border:none !important;text-align: right; padding-right: 20px;">
									
										{% if i.unit_price > 0 %}
											{% widthratio i.unit_price 1 i.unit as total  %} 
											{{ total }}
											
											<p style="font-weight: 700;"> ${{ total |floatformat:2}}</p>
										{% else %}
											{% widthratio i.product.price 1 i.unit as total %} 
											<p style="font-weight: 700;">${{ total |floatformat:2 }}</p>										
										{% endif %}
								</td>
							</tr>
								
						{% endfor %}
					</tbody>
				</table>
				<div style=" border-top: 2px solid #f1f1f1; text-align: right; margin-right:20px;">
					<p style="color:#337ab7; font-weight: 700;padding-top: 20px;">Total: ${{ grand_total |floatformat:2 }}</p>
					
					{% if pays > 0 %}
						{% if grand_total > pays %}
							<p style="color:#337ab7; font-weight: 700;padding-top: 10px;"> Remaining: {{ equally |floatformat:2 }} </p>
						{% else %}
							{% if pays > grand_total or pays == grand_total %}
								<p style="color:#337ab7; font-weight: 700;padding-top: 10px;"> Paid: ${{ grand_total |floatformat:2 }} </p>
							{% else %}
								<p style="color:#337ab7; font-weight: 700;padding-top: 10px;"> Remaining: {{ equally |floatformat:2 }} </p>
							{% endif %}
							
						{% endif %}

					{% else %}
						<p style="color:#337ab7; font-weight: 700;padding-top: 10px;"> Remaining: ${{ grand_total |floatformat:2 }} </p>
					{% endif %}	
				</div>
			{% endif %}
			
		</div>

	</div>
	
	<div style="margin-bottom: 20px; margin-top: 20px">
		<a href = "#" type="button" class="btn btn-primary">Preview</a>
	</div>

	<div class="pagination_index">
		{% if all_data.count > paginator_num  %}
			<ul class="pagination" style="margin:0px 0px !important">
			{% if all_product.has_previous %}
			    <li>
			    	<span><a href="?page=1">&laquo; first</a></span>
			    </li>
			    <li>
			        <span><a href="?page={{ all_product.previous_page_number }}">Previous</a></span>
			    </li>
			{% endif %}
			    <li class="">
			        <span>Page {{ all_product.number }} of {{ all_product.paginator.num_pages }}.</span>
			    </li>
			{% if all_product.has_next %}
				<li><span><a href="?page={{ all_product.next_page_number }}">Next</a></span></li>
			    <li>
			        <span><a href="?page={{ all_product.paginator.num_pages }}">last &raquo;</a></span>
			    </li>
			{% endif %}
			</ul>
		{% endif %}
		
	</div>

{% endblock %}
