{% extends 'product/base.html' %}

{% block title %} RTMK {% endblock %}

{% block body %}
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<div class="home_box">
				<div class="home_sub_box"></div>
				<div class="home_box_detail"><a href="#"> View detail </a></div>
			</div>
		</div>
		<div class="col-md-3 ">
			<div class="home_box">
				<div class="home_sub_box"></div>
				<div class="home_box_detail"><a href="#"> View detail </a></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="home_box">
				<div class="home_sub_box"></div>
				<div class="home_box_detail"><a href="#"> View detail </a></div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="home_box">
				<div class="home_sub_box"></div>
				<div class="home_box_detail"><a href="#"> View detail </a></div>
			</div>
		</div>
	</div>
{% endblock %}
